/* 路由统一动效 */

/* 动画形式 */
.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

/* 入 退 */
.page-enter,
.page-leave {
  opacity: 0;
}

/* 单路由 */
.test-enter-active,
.test-leave-active {
  transition: .5s ease all;
}
.test-enter,
.test-leave {
  margin-left: -1000px;
}
